body{font-family:Arial;margin:0}
header{background:#0b4fa3;color:#fff;text-align:center;padding:40px}
.logo{width:120px;margin-bottom:10px}
.btn{background:orange;color:#fff;padding:10px 20px;text-decoration:none;border-radius:5px}
section{padding:30px}
.products-list li{margin:8px 0}
.product-box{margin:20px;padding:15px;border-left:5px solid orange;background:#f9f9f9}
footer{background:#0b4fa3;color:#fff;text-align:center;padding:20px}
